.welcome{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 8px;
}

.user{
    font-size: 32px;
    color: #CECECE;
}

.btn-berita{
    position: absolute;
    right: 10px;
    background-color: #EC5C5C;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    transition-duration: 0.4s;
}

.btn-berita:hover{
    background-color: #FD5F5F;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Slideshow style */
* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin-top: 50px;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 28px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Service Menu Style */
.card{
    position: relative;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 960px;
    height: auto;
}

.imgbtn-2{
    position: absolute;
    top: 50px;
    left: 310px;
}

.imgbtn-3{
    position: absolute;
    top: 50px;
    left: 620px;
}

.btTxtsubmit{
    margin-top: 50px;
    width: 300px;
    height: 300px;
}

.tescovid{
    font-size: 36px;
    font-weight: 500;
    color: white;
    margin-left: 20px;
    margin-top: -100px;
}

